<div class='column'>
    {{#each levels}}
        <a href='/level/{{this._id}}'>
	        <div class='levelPreview'>
                <img src={{this.image}} alt='Level preview'/>
		        <div id="icons">
                    <i class='fa fas-person'></i>{{this.author}}
                    <i class='fa fas-eye'></i>{{this.playCount}}
                    <i class='fa fas-clock'></i>{{this.fastestCompletionTime}}
                </div>
	        </div>
        </a>
    {{/each}}
</div>