<div class="container">
        <h2 class='text-dark text-center mb-4'>Try community created levels</h2>
    <div class="row justify-md-center">
        {{#each levels}}
        <div class="wow fadeInUp col-md-4 p-4" data-wow-delay="0.2s">
            <a href='/level/{{this._id}}'>
                <div class="card">
                    <div class="view overlay">
                        <img class="card-img-top" src='https://i.ytimg.com/vi/UxRbv9frRJs/maxresdefault.jpg' class='img-fluid' alt='img-fluid'/>
                            <a href="/level/{{this._id}}">
                                <div class="mask waves-effect waves-light rgba-white-slight"></div>
                            </a>
                    </div>
                    <div class="card-body">
                        <h4 class='card-text'>
                                <span class='font-weight-bold'>{{this.metadata.author}}</span> <i class='fa fa-user'></i>
                                <span class='float-right ml-2'><i class='fa fa-edit'></i></span>
                                <span class='float-right card-text'>{{this.metadata.views}} <i class='fa fa-eye'></i></span>
                                <span class="float-right mr-2">{{this.metadata.highestCompletionTime}} <i class='fa fa-clock'></i></span>
                            </h4>
                    </div>
                </div>
            </a>
        </div>
        {{else}}
        <h3 class="row justify-md-center">
            No levels exist currently. Why not<a href='/create'>&#160make one?</a>
        </h3>
        {{/each}}
    </div>
</div>